body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 56, 61);
    height: 100vh;
    width: 100vw;
    font-family: 'roboto', sans-serif;
    font-weight: 200;
}

.btn {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 3rem;
}

.colorPanel {
    overflow: hidden;
}

.colorPanel > * {
    width: 200%;
    height: 200%;
    transform: translate(-25%, -25%)
}

.controlPanel {
    padding-bottom: 30px;
}

.gridPixel {
    border: 0.5px solid black;
    background-color: white;
}

h1 {
    font-weight: 200;
    color: #ff9966;
}

header {
    width: 100%;
    background-color: rgb(43, 42, 51);
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

img {
    height: 50%;
    width: 50%;
}

.logoContainer {
    position: fixed;
    left: 10px;
    padding: 10px;
}

.slider {
    width: 20vw;
    cursor: pointer;
}

.sliderContainer {
    padding: 10px;
}

.smallBtn {
    width: 2rem;
    height: 2rem;
}
